@import '_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.banner {
    img {
        width: 100%;
    }
}

// .container {

// }

.top_div {
    display: flex;
    justify-content: space-between;
    background-color: $shark;
    color: white;
    padding: 32px;

    h1 {
        font-size: 48px;
        // font-style: bold;
        margin-bottom: 35px;
    }

    .panel_right {
        display: flex;
        align-items: flex-end;

        p {
            padding-right: 30px;
        }
    }
}

.middle_div {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}



button {
    border-radius: 10px;
    padding: 14px 40px;
    font-size: 18px;
    background-color: $shark;
    color: white;
}