@import '_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.event_image {
  width: 194px;
  height: 194px;
  
  padding-top: 32px !important;  
  padding-bottom: 24px !important;

  object-fit: contain;
  border-radius: $radius-small;
}

.event_details {
  padding-top: 32px !important;  
  padding-bottom: 24px !important;
  border-bottom: 1px solid $grey-lighter;
}
