@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/form/_all.sass';

.input, .select {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
    box-shadow: none;
    text-align: left;
    padding: 0;
    margin: $gap-sm 0;
}

.textarea {
    border: 2px solid black;
    border-radius: 0;
    resize: none;
}

// .has-fixed-size {}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexrow {
    display: flex;
}

.createEventForm {
    width: 50%;
    margin: 0 auto;
    * {
        width: 100%;
    }
}