.tagDisplayClass {
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.tagList {
    width: 48% !important;
    height: 15vh;
    position: absolute;
    background-color: white;
    z-index: 1;
    overflow-y: scroll;
}

.tagClass {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    width: unset;
    
    span {
        width: unset;
        margin-left: 0.4rem;
    }
}