@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';

a.list-card {
  display: flex;
  flex-direction: column;
  margin-top: $gap-md * 2 !important;
  border-radius: $radius-small;
  width: 100%;
  color: inherit;
  @include is-clickable;
  @include hover-shadow;

  &:hover {
    color: initial;
  }

  @include tablet {
    flex-direction: row;
  }

  .event_image {
    width: 194px;
    height: 194px;
    object-fit: cover;
    border-radius: $radius-small;
    @include mx-auto;
    @include tablet {
      margin-top: 0 !important;
    }
  }

  .event_details {
    margin-top: $gap-md;
    position: relative;

    @include tablet {
      margin: {
        left: $gap;
        right: $gap-sm;
        top: 0;
      }
      padding-bottom: 0;
    }
  }

  .space_letters {
    letter-spacing: 2px;
  }

  .descriptionUnderline {
    position: absolute;
    bottom: -$gap-md;
    @include content-divider();
  }

  .community {
    color: $chalice;
  }
} //end list-card

a.grid-card {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 307px;
  min-height: 401px;
  border-radius: $radius-small;

  color: inherit;
  @include is-clickable;
  @include hover-shadow;

  &:hover {
    color: initial;
  }
  .event_image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: $radius-small;
    @include mx-auto;
  }

  .event_details {
    padding: $gap-sm $gap-xxs;
  }

  .space_letters {
    letter-spacing: 2px;
  }

  .event_description {
    display: none;
  }

  .descriptionUnderline {
    display: none;
  }

  .community {
    color: $chalice;
  }
}

// ===== Bulma Overrides: Columns =====
.is-multiline {
}

.is-narrow {
}

.column,
.columns {
  padding: 0;
  margin: {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.columns:last-child {
  margin-bottom: initial;
}

.columns:not(:last-child) {
  margin-bottom: initial;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
