@import '_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.event_list {
  margin: 0 auto;
  max-width: 1120px;
}

.event_filter_buttons {
  button {
    border: none;
    background-color: white;
  }
}
