@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';

.event_list {
  @include mx-auto;
}

.iconDivider {
  display: inline-block;
  @include content-divider(y, 2px);
  height: 30px;
  margin-left: $gap-xxs;
  margin-right: $gap-xxs;
}

$smallGrid: ($gridCard-w + ($gap-md * 2));
$medGrid: $smallGrid * 2;
$lgGrid: $smallGrid * 3;

.list_container {
  a:first-of-type {
    margin-top: $gap-md !important;
  }
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  @include mx-auto;
  max-width: $smallGrid;

  @media screen and (min-width: $medGrid) {
    max-width: $medGrid;
  }

  @media screen and (min-width: $lgGrid) {
    max-width: $lgGrid;
  }
}

// ===== Columns =====
.column,
.columns {
  padding: 0;
  margin: {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.columns:last-child {
  margin-bottom: initial;
}

.columns:not(:last-child) {
  margin-bottom: initial;
}

// must be included to override bulma
.is-narrow {
}

// must be included to override bulma
.is-mobile {
}
