@import '_variables.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '_helpers.scss';

.event_list {
  @include mx-auto;
  max-width: $container-width;
}

.iconDivider {
  color: $iconLight;
  display: inline-block;
  font: {
    size: 36px;
    weight: 100;
  }
  margin-left: 8px;
  margin-right: 8px;
}

$smallGrid: ($gridCard-w + ($gap-md * 2));
$medGrid: $smallGrid * 2;
$lgGrid: $smallGrid * 3;

.list_container {
  a:first-of-type {
    margin-top: $gap-md !important;
  }
}

.grid_container {
  @include mx-auto;
  max-width: $smallGrid;

  @media screen and (min-width: $medGrid) {
    max-width: $medGrid;
  }

  @media screen and (min-width: $lgGrid) {
    max-width: $lgGrid;
  }
}

.event_filter_buttons {
  button:first-of-type {
    padding-left: 0;
  }

  button {
    border: none;
    background-color: white;
  }
}
