@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/form/_all.sass';

.createEventForm {
  padding-top: 5vh;
  width: 60%;
  height: 100%;
  margin: 0 auto;

  @include mobile {
    width: 95%;
  }

  div,
  label,
  input {
    width: 100%;
  }

  select {
    appearance: none;
    border-radius: 0px;
  }

  label {
    // margin: $gap-sm 0;
    font-weight: bold;
  }

  .input,
  .select {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
    box-shadow: none;
    text-align: left;
    padding: 0;
    background-color: white;
    font-size: $gap-xs;
    width: 100%;
  }

  .shark {
    background-color: $shark;
  }

  .errorMessage {
    margin: 0;
    position: absolute;
    color: $red;
  }

  .errorMargin {
    margin-top: $gap-md;
  }

  .errorMarginMobile {
    @include mobile {
      margin-top: $gap-md;
      width: 95%;
    }

    div,
    label,
    input {
      width: 100%;
    }

    select {
      appearance: none;
      border-radius: 0px;
    }

    label {
      // margin: $gap-sm 0;
      font-weight: bold;
    }

    .input,
    .select {
      border: none;
      border-bottom: 2px solid black;
      border-radius: 0px;
      box-shadow: none;
      text-align: left;
      padding: 0;
      background-color: white;
      font-size: $gap-xs;
      width: 100%;
    }

    .shark {
      background-color: $shark;
    }

    .errorMessage {
      margin: 0;
      position: absolute;
      color: $red;
    }

    .errorMargin {
      margin-top: $gap-xxs;
    }

    .errorMarginMobile {
      @include mobile {
        margin-top: $gap-md;
      }
    }
  }
  .dropBoxError {
    color: $red;
  }
}

.vSpacing {
  margin: 2rem 1rem 2rem 1rem;
}

.littleTopMargin {
  margin-top: $gap-sm;
}

.littleTopPadding {
  padding-top: 2vh;
}

.location {
  padding-top: 3vh;
}

.picker {
  border: 2px solid black;
  border-radius: 4px;
  resize: none;
  text-align: center;
}

.textarea {
  border: 2px solid black;
  border-radius: 4px;
  resize: none;
}

.imageUploader {
  width: 198px !important;
  border-radius: 4px;
  border: 2px solid black;

  .uploadContainer {
    height: 194px;
    width: 194px;
  }

  .imagePreview {
    height: 194px;
    width: 194px;
    object-fit: cover;
  }
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexrow {
  display: flex;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabletFlexrow {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}

.tabletEndfield {
  margin-left: 0;
  @include tablet {
    margin-left: $gap-sm;
  }
}

.desktopFlexrow {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.desktopEndfield {
  margin-left: 0;
  @include desktop {
    margin-left: $gap-sm;
  }
}

.cal {
  background: #ff6768 !important;
  color: white !important;
  border-radius: 80% !important;
  padding: 5% !important;
  @include tablet {
    border-radius: 60% !important;
    padding: 4.3% !important;
  }
  @include mobile {
    border-radius: 70% !important;
    padding: 5% !important;
  }
}

.events {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    border: 2px solid lightgray;
  }
}

.eventContainer {
  margin-bottom: 12px;
  line-height: 1.1rem;
  padding-top: 5px;
  h2 {
    border-bottom: 1px solid lightgray;
    width: 60%;
    margin-bottom: 5px;
    font-weight: 500;
    @include mobile {
      width: 85%;
    }
  }

  h3,
  h4 {
    margin-left: 10px;
  }
}
.repeatRules {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.repeaton {
  margin: 1.5% 8% 1.5% 0;
  width: 45%;
  text-align-last: center;
  border: #000000 1.8px solid;
  padding: 1%;
  font-size: 0.9rem;
  border-radius: 5% !important;
}
.repeaton:hover {
  border: #e6e6e6 1.8px solid;
}
.recPicker {
  border: 2px solid #000000;
  border-radius: 4px;
  margin-left: 1.5%;
  margin-right: 21%;
  text-align: center;
}
.recPicker:hover {
  border: #e6e6e6 1.8px solid;
}
.recInput {
  display: flex;
  border-radius: 4px;
  text-align: center;
  margin-top: 1.5%;
}
