@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/elements/button.sass';

.updateEventModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index:100000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.updateEventModalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $shark;
    width: 100%;
    max-width: 450px;
    height: 150px;
    border-radius: 6px;
}

.updateEventModalBody {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.button {
    width:49%;
    height: 50px;
    border-radius: 6px;
    color: $white;
    border: none;
    &:hover {
        color: $white;
        border: 3px solid #7AF286;
    }
}

.yes {
    background: $shark
}

.no {
    background: $red
}

.updateEventModalButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    max-width: 450px;
}
.modalLabel{
    position: relative;
    right:30px;
    bottom:5px
}

.checkboxes{
    display:flex;
    max-width: 80%;
    margin-right:20%;
    margin-top:2%;
}