@import '../../styles/_variables';
@import '../../styles/_mixins';

.geocoder {
  margin-left: 0 !important;

  input {
    margin-top: $gap-xs;
    min-width: 250px;
    border-radius: $radius $radius 0 0;
    padding-left: $gap-xxs / 2;
  }

  &Reset {
    color: $shark !important;
    top: 20% !important;
    transition: text-shadow $duration-short, opacity $duration-short;
    pointer-events: all !important;
    &:hover,
    &:focus {
      text-shadow: $danger 0 0 3px;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.filterMenu {
    input {
      margin-top: $gap-xs;
      min-width: 100%;
      border-radius: $radius;
      padding-left: $gap-xxs / 2;
      border: 1px solid black !important;
      padding-left: 20px !important;
    }
  }
}
