@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/mixins.sass';

// ===== Navbar =====

.navbar {
  display: flex;
  flex-direction: column;
  padding: 0 $gap-sm;
  border-bottom: 2px solid $black-bis;
  margin-top: 0 !important;

  img {
    pointer-events: none;
  }

  @include tablet-up {
    padding: 0 $bodyPaddingX-hd;
    flex-direction: row;
    height: 72px;
  }

  &-start {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-left: $gap-sm;
    }
  }

  &-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: {
      bottom: $gap-sm;
    }
    & > a,
    > div,
    > button {
      margin: {
        top: $gap-sm;
      }
    }
    @include tablet {
      flex-direction: row;
      margin: {
        bottom: 0;
      }
      & > a,
      div,
      button {
        margin: {
          left: $gap-xxs;
          top: 0;
        }
      }
    }
  }

  &-brand {
    align-items: center;
    width: 100%;
    @include tablet {
      width: max-content;
    }
  }

  &-item {
    margin: 0 $gap-xxs;
  }

  &-menu {
    background-color: transparent;
    box-shadow: none;
    flex-grow: 1;
    padding: 0;
    flex-direction: column;
    overflow: visible !important;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    &.is-active {
      display: flex;
    }
  }

  &-burger {
    width: 16px;
    margin-right: $gap-xxs;
    &:hover {
      color: initial;
      background-color: initial;
    }

    span {
      pointer-events: none;
    }
  }

  &-search {
    padding-left: 12px;
    display: flex;
    align-items: center !important;
    border-radius: $radius;
    width: 300px;
    transition: width 0.4s;

    @include tablet {
      max-width: 350px;
      flex-grow: 1;
    }

    &-input {
      width: initial;
    }
  }
}

// ===== Dropdown =====
.dropdown {
  &:hover,
  &-item:hover {
    @include is-clickable;
  }

  &-item {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $shark;
      color: white;
    }
  }
  &-content {
    background-color: $offwhite;
  }

  &-menu {
    @include willSlideDown;
  }
  &.is-active &-menu {
    @include slideDownShow;
  }
}

// ==== Input ====
.input {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0px;
  box-shadow: none;
  text-align: left;
  padding: 0;
  background-color: white;
}

.dropdown .dropdown-menu.drop-center {
  @include willSlideDown(0.4s);
  min-width: unset;
  width: 90%;
  left: 50%;
  transform: translateX(-50%) !important;
}

.dropdown.is-active .dropdown-menu.drop-center {
  @include slideDownShow;
}
// ===== Section =====
.section {
  padding: {
    left: 0;
    right: 0;
  }
}

// ===== Typography Classes =====
.subtitle,
.title {
  color: inherit;
}

// ===== Button Classes =====

.button {
  border-radius: $radius-large;

  &:hover {
    color: inherit;
  }
}

.button.is-dark {
  height: initial;
  border: 2px solid $shark;
  transition: background-color $duration-short, color $duration-short,
    font-weight $duration-short;
  &:hover {
    background-color: $white;
    color: $shark;
    border-color: $shark;
    font-weight: bold;
  }
}

// ===== Tag Classes =====
.tag {
  border: 1px solid $black-bis;
  &:not(body) {
    padding: {
      left: $gap-sm;
      right: $gap-sm;
      top: 0;
      bottom: 0;
    }
  }
}

// ===== Level =====
.level {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

// ===== Select =====
div.select.is-rounded select {
  border-radius: $radius-large;

  option {
    text-align: center;
  }
}


// ==== Spacing for <select> ====
.left-margin {
  margin-left: $gap-sm;
}