@import '_variables.scss';
@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/mixins.sass';

// ===== Navbar =====

.navbar-brand,
.navbar-start,
.navbar-end {
  align-items: center;
}

.navbar-menu {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
}

// ===== Dropdown =====
.dropdown {
  &:hover,
  &-item:hover {
    cursor: pointer;
  }

  &-item {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $shark;
      color: white;
    }
  }
}

// ===== Columns =====
.column {
  padding: 0;
  margin: {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.columns:last-child {
  margin-bottom: initial;
}

.columns:not(:last-child) {
  margin-bottom: initial;
}
