@import '_variables.scss';
@import '_mixins.scss';

// ===== Palette =====

.color_chalice {
  color: $chalice;
}

.color_black {
  color: black;
}

.color_shark {
  color: $shark;
}

// ===== Postion , Padding, Margin, Box Shape =====
.is-round {
  @include is-round;
}

// horizontally center an element
.mx-auto {
  @include mx-auto;
}

.small-btn {
  padding: 4px 8px !important;
}

.justify-between {
  justify-content: space-between;
}

.flip {
  transform: rotate(180deg);
}

// ===== Other =====

// Change cursor when hovering a clickable element
.is-clickable {
  cursor: pointer;
}

// wrapper for each page
.page-wrapper {
  @include mx-auto;
  max-width: $container-width;
  padding: {
    left: $gap-md;
    right: $gap-md;
  }
}

.content-divider-x {
  @include content-divider();
}

.content-divider-y {
  @include content-divider(y);
}

// ===== Custom Dropdown =====
.ccDropdown {
  border: 2px solid $shark;
  border-radius: $radius-large;
}
