@import '_variables.scss';

.is-round {
  border-radius: 50%;
}

@mixin is-round {
  border-radius: 50%;
}

// horizontally center an element
.mx-auto {
  margin: 0 auto;
}

.is-clickable {
  cursor: pointer;
}

@mixin mx-auto {
  margin: 0 auto;
}

@mixin mobile-xs-up {
  @media screen and (min-width: $mobile-xs + 1px) {
    @content;
  }
}

@mixin mobile-xs-only {
  @media screen and (max-width: $mobile-xs) {
    @content;
  }
}
