@import '_variables.scss';
@import '_mixins.scss';

// ===== Palette =====

.color_chalice {
  color: $chalice;
}

.color_black {
  color: black;
}

.color_shark {
  color: $shark;
}

// ===== Palette =====

// is-size-5 resolves to 20px, is-size-6 resolves to 16px, is-size-7 resolves to 12px

// is-size-5half resolves to 18px
.is-size-5half {
  font-size: 1.125rem !important;
}

.is-size-5half-mobile {
  @include mobile {
    font-size: 1.125rem !important;
  }
}

// is-size-6half resolves to 14px
.is-size-6half {
  font-size: 0.875rem !important;
}

.is-size-6half-mobile {
  @include mobile {
    font-size: 0.875rem !important;
  }
}

// ===== Postion , Padding, Margin, Box Shape =====

.d-none {
  display: none;
}

.is-round {
  @include is-round;
}

.mobile-section {
  @include mobile {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}

.w-100 {
  width: 100%;
}

// horizontally center an element
.mx-auto {
  @include mx-auto;
}

.small-btn {
  padding: 4px 8px !important;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.border-radius {
  border-radius: $radius;
}

.border-radius-lg {
  border-radius: $radius-large;
}

.border-radius--sm {
  border-radius: $radius-small;
}
// ===== Other =====

.is-bold {
  font-weight: bold;
}

// Change cursor when hovering a clickable element
.is-clickable {
  cursor: pointer;
}

// wrapper for each page
.page-wrapper {
  @include mx-auto;
  max-width: $container-width;
  padding: {
    left: $gap-md;
    right: $gap-md;
  }

  @include tablet-up {
    padding: {
      left: $gap;
      right: $gap;
    }
  }
}

.no-pointer-events {
  pointer-events: none;
}

.content-divider-x {
  @include content-divider();
}

.content-divider-y {
  @include content-divider(y);
}

// ===== Custom Dropdown =====
.ccDropdown {
  border: 1px solid $shark;
  border-radius: $radius-large;
}

// ===== Borders =====
.no-border {
  border: none !important;
}

.no-outline-focus:focus {
  outline: none;
}

// ===== Animations =====
.hover-underline {
  @include underline;
}

.hover-shadow {
  @include hover-shadow;
}

a.tag.tag-hover,
.tag.tag-hover {
  transition: transform $duration-short, background-color $duration-short;
  &:hover {
    transform: scale(1.05);
    background-color: $offwhite;
    text-decoration: none;
  }
}

.flip {
  transition: transform $duration-short;
  transform: rotate(180deg);
}

.willFadeIn {
  opacity: 0;
  visibility: hidden;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
}

.willSlideInR2L {
  left: -150%;
}
.slideInR2L {
  left: 0;
}
