@import '_variables.scss';

.is-round {
  border-radius: 50%;
}

@mixin is-round {
  border-radius: 50%;
}

// horizontally center an element
.mx-auto {
  margin: 0 auto;
}

@mixin mx-auto {
  margin: 0 auto;
}

// Change cursor when hovering a clickable element
.is-clickable {
  cursor: pointer;
}

// wrapper for each page
.page-wrapper {
  @include mx-auto;
  max-width: $container-width;
}

@mixin mobile-xs-up {
  @media screen and (min-width: $mobile-xs + 1px) {
    @content;
  }
}

@mixin mobile-xs-only {
  @media screen and (max-width: $mobile-xs) {
    @content;
  }
}
