@import '_variables.scss';
@import '_mixins.scss';

// ===== Palette =====

.color_chalice {
  color: $chalice;
}

.color_black {
  color: black;
}

.color_shark {
  color: $shark;
}

// ===== Palette =====

// is-size-6 resolves to 16px, is-size-7 resolves to 12px
.is-size-6half {
  font-size: 0.875rem;
}

.is-size-6half-mobile {
  @include mobile {
    font-size: 0.875rem;
  }
}

// ===== Postion , Padding, Margin, Box Shape =====
.is-round {
  @include is-round;
}

// horizontally center an element
.mx-auto {
  @include mx-auto;
}

.small-btn {
  padding: 4px 8px !important;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flip {
  transform: rotate(180deg);
}

// ===== Other =====

// Change cursor when hovering a clickable element
.is-clickable {
  cursor: pointer;
}

// wrapper for each page
.page-wrapper {
  @include mx-auto;
  max-width: $container-width;
  padding: {
    left: $gap-md;
    right: $gap-md;
  }

  @include tablet-up {
    padding: {
      left: 2 * $gap-sm;
      right: 2 * $gap-sm;
    }
  }
}

.no-pointer-events {
  pointer-events: none;
}

.content-divider-x {
  @include content-divider();
}

.content-divider-y {
  @include content-divider(y);
}

// ===== Custom Dropdown =====
.ccDropdown {
  border: 1px solid $shark;
  border-radius: $radius-large;
}

// ===== Borders =====
.no-border {
  border: none !important;
}

// ===== Animations =====
.hover-underline {
  @include underline;
}
