//============= Palette =============
$red: #ff2d2d;

//============= Spacing And Layout=============
$bodyPaddingX-hd: 2rem;
$navbar-height: 72px;
$navbar-padding-vertical: 10px;

//============ Typography ===========
$family-primary: Poppins, sans-serif;
$family-secondary: Butler, Georgia, 'Times New Roman', Times, serif;
// $family-code: ;
// $family-monospace: ;
// $family-sans-serif: ;
