//============= Palette =============
$specialColor: hsl(170deg, 50%, 50%);
$red: #ff2d2d;

//============= Spacing And Layout=============
$bodyPaddingX-hd: 2rem;
$navbar-height: 72px;
$navbar-padding-vertical: 10px;
