@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/form/_all.sass';

.createEventsContainer {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background: white;
}

.outerContainer {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/createEventsBackground.png');
}