@import '_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.event-view {
  section {
    padding: $gap-xxs;
    @include tablet {
      padding: $gap;
    }
  }

  .banner {
    object-fit: cover;
    max-height: 125px;
    width: 100%;

    @include tablet {
      max-height: 250px;
    }
  }

  .top_sec {
    display: flex;
    justify-content: space-between;
    background-color: $shark;
    color: white;

    h1 {
      margin-bottom: $gap-xs;

      @include tablet {
        margin-bottom: $gap;
      }
    }

    .space_letters {
      letter-spacing: 2px;
    }

    .date_display {
      margin-bottom: $gap-xs
    }

    .panel_right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-start;

      p:nth-of-type(1) {
        margin-right: $gap;
      }
      button {
        height: 55px;
        color: white;
        border: 0;
        background-color: #ff0000;
        &:hover {
          background-color: $bittersweet;
        }
      }
      // .navButton {
      //   border: 0;
      //   color: $black;
      //   border-radius: $radius-large;
      //   background: none;
      //   position: relative;
      //   transition: color 0.4s ease-in-out 0.1s;
      //   &:hover {
      //     color: #fff;
      //   }
      // }
    }
  }

  .middle_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $gap 0;
    div:nth-of-type(1) {
      width: 100%;
    }

    @include tablet {
      flex-direction: row;
    }
  }

  .description-div {
    margin-top: $gap;
    max-width: 700px;
    p:nth-of-type(2) {
      padding: $gap + $gap-xxs 0;
    }
  }

  .socialOptions {
    margin-top: $gap;
    p {
      margin-bottom: $gap-xs;
      margin-right: $gap-sm;
    }
    button ~ div {
      margin-top: $gap-lg;
      div {
        padding: $gap 0;
      }
    }
    @include tablet {
      margin-top: 0;
    }
  }
}
