@import '_variables.scss';
@import '_animations.scss';
@import '~bulma/sass/utilities/_all.sass';

.cc_navbar {
  padding: 0 $bodyPaddingX-hd;
  height: $navbar-height;
  border-bottom: 2px solid $black-bis;
  margin-top: 0 !important;
  display: flex;
  align-items: center;

  img {
    pointer-events: none;
  }

  button {
    border: 0;
    border-radius: $radius;
    background: none;
    position: relative;
    transition: color 0.4s ease-in-out 0.1s;
    &:hover {
      color: #fff;
    }
    &:before {
      content: '';
      z-index: -100;
      position: absolute;
      border-radius: $radius;
      background: none;
      width: 100%;
      height: 100%;
      left: 50%;
      margin-left: -50%;
      background-color: $black-bis;
      transform: scale(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      transform: scale(1);
    }
  }
}

.profileButton {
  border: none;
  background-color: #fff;
  img {
    width: 35px;
    height: 35px;
  }
}

.navsearch {
  padding-left: 12px;
  display: flex;
  align-items: center !important;
  border-radius: $radius;
  max-width: 100px;

  @include tablet {
    max-width: 100%;
  }
}
