@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';


.userProfile {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;


  @include tablet {
    max-width: 71.5vw;
  }
  
  .profileInfo {
    background-color: $shark;
    color: $white;
    width: 100%;
    
    @include tablet {
      max-width: 25.6vw;
    }
    .userInfo,
    .editUserForm {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .userInfo,
    .editUserForm {

      .profilePhoto {
        width: 8vw;
        height: 8vw;
        background-color: $astronaut;
        border: solid $bittersweet;
        border-radius: 50%;
        margin-bottom: 10%;
      }

      .profileUserName {
        font-size: 1.25em;
        font-family: $family-secondary;
      }

      .profileUserTitle {
        color: $silver;
        font-size: 1em;
      }

      .location {
        margin-top: 5%;
        margin-left: -5%;
        display: flex;
        align-items: center;

        svg {
          height: 12px;
        }
      }

      .eventNumbers {
        margin-top: 10%;
        width: 95%;

        .evNum {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          h4 {
            font-size: 0.8em;
            margin-bottom: 5px;;
            color: $silver;
          }
        }
      }

      .aboutUser {
        margin-top: 8%;
        width: 95%;

        * {
          margin: 5% 0;
        }

        p {
          font-size: 0.75em;
        }
      }
    }
  }
  
  .userEvents {
    background-color: $offwhite;
    width: 100%;
    
    @include tablet {
      max-width: 45.8vw;
    }
  }
}

.profileSmall {
  color: rgba(142, 142, 142, 0.5);
          font-size: 0.7em;
}