@import '_variables.scss';
@import '_mixins.scss';
@import '~bulma/sass/utilities/_all.sass';


.userProfile {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;


  @include tablet {
    max-width: 71.5vw;
  }
  
  .profileInfo {
    background-color: $shark;
    color: $white;
    width: 100%;
    
    @include tablet {
      max-width: 25.6vw;
    }
    .userInfo,
    .editUserForm {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .userInfo {

      .profilePhoto {
        width: 10vw;
        height: 10vw;
        background-color: $astronaut;
        border: solid $bittersweet;
        border-radius: 50%;
        margin: 10% 0;
      }

      .profileUserName {
        font-family: $family-secondary;
      }

      .profileUserTitle {
        color: $silver;
        font-size: 0.7em;
      }

      .location {
        small {
          color: rgba(142, 142, 142, 0.5);
          font-size: 0.5em;
        }
      }
    }
  }
  
  .userEvents {
    background-color: $offwhite;
    width: 100%;
    
    @include tablet {
      max-width: 45.8vw;
    }
  }
}